.h1{
    text-align: center;
    background-color: cornflowerblue;
    font-size: 30px;
}
.h2{
    width: 24px;
    height: 24px;
    background-image: ;
}
.h3{
    text-align: center;
    background-color: mediumpurple;
}
.h4{
    text-align: center;
    font-size: 30px;
}